#logo 
{
	font-family: sans-serif;
	color: green;
	font-weight: bold;
	text-align: left;
	font-size: 40px;
}

#logo a:HOVER
{
	color:yellow;
	border-bottom: 2px yellow; 
}

#btn
{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#textbox
{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.mydiv {
position: relative;
min-height: 50px;
border: 1px solid transparent;
}

.textboxstle
{
	margin-left: inherit;
}


